.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading{
  background-color: rgb(158, 42, 158);
  width: 100%;
  margin-bottom: 10px;
  color: white;
}